<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ED8Ball</title>
</head>
<body>
    <div class= "header"></div>
    <div class= "image">
        <img src="/Ball.png">
    </div>
    <div class= "question">
        <input class="inputText" type="text">
        <input class="type="submit" value= "Shake It!" >
    </div>
</body>
</html>
