<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/main.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ED8Ball</title>
</head>
<body>
    <div class= "header"></div>
    <div class= "image">
        <img class= "ball" src="../public/Ball.png">
    </div>
    <div class= "question">
        <center>
            <input class= "inputText" type="text">
            <input class= "button" type="submit" value="Shake It!">
        </center>
    </div>
</body>
</html>